.header {
  background-color: var(--black);
  padding: 36px 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list{
    margin-left: -84px;

    @include small-tablet {
      display: none;
    }
  }
  &__link{
    color: var(--white);
  }
}
.nav {


  &__list {
    display: flex;
    transition: 0.6s ease-in-out;
    @include small-tablet {
      position: absolute;
      top: 0;
      width: 80%;
      height: 100vh;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-150%);
      transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
      padding: 40px 20px;
      z-index: 30;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      display: flex;
      flex-direction: column;
      background: rgb(20,21,28);
background: linear-gradient(210deg, var(--black) 51%, transparent 51%);
    }
  }

  &__item {
  }

  &__item:not(:last-child){
    margin-right: 35px;

    @include small-tablet {
      margin: 0;
    }
  }

  &__link {
    font-family: "PT Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--category);
    }

    @include small-tablet {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}



.logo {
  &__img {
    display: block;
  }
}

.header-search {
  @include small-tablet {
    display: none;
  }
  &__button {

  }
  &__svg path{
    transition: fill 0.3s ease;
  }
  &__svg:hover {
    path {
      fill: var(--category);
    }
  }
}


.burger {
  @include burger;
  width: 40px;
  height: 26px;
  color: var(--white);
  display: none;
  z-index: 40;

  @include small-tablet {
    display: block;
  }

}
.burger--active span{
  width: 0;
}
.burger--active span::after{
  background-color: steelblue;
  transform: rotate(45deg);
  top: 50%;
 }
.burger--active span::before{
  background-color: steelblue;
  transform: rotate(-45deg);
  top: 50%;
 }



.menu--active {
  @include small-tablet {
    opacity: 1;
    visibility: visible;
    transform: none;

  }
}
