.most-popular {

  &__container {
  }

  &__title {
    font-size: 30px;
    margin:0px 0px 25px 0px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__item {
  }

  &__article {
    position: relative;

  }

  &__img {
    margin-bottom: 20px;
  }

  &__article-category {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  &__article-title {
    font-size: 20px;
    margin:0px 0px 10px 0px;
  }
  &__link {
    transition: color 0.3s ease-in-out;
    color: var(--dark);
  }
  &__link:hover{
    @media (min-width:1024px) {
      color: var(--category);
    }
  }
  &__article-meta {
  }
}

.article-meta {

  &__author {
    transition: color 0.3s ease-in-out;
  }

  &__author:hover{
    @media (min-width:1024px) {
      color: var(--category);
    }
  }
}
