<section class="article-hero section-offset">
  <div class="container article-hero__container">
    <div class="article-hero__main article-hero__main--grid">
      <ul class="article-hero__list list-reset">
        <li class="article-hero__item">
          <article class="hero-article">
            <picture class="hero-article__picture">
              <source srcset="img/article-hero-img1.webp" type="image/webp">
              <img loading="lazy" src="img/article-hero-img1.jpg" class="hero-article__img" width="770" height="440" alt="Автомобиль Audi RS5 вид спереди, открытый капот, двигатель">
            </picture>
            <div class="hero-article__content">
              <a class="hero-article__category category" href="#">Автомобиль</a>
              <h2 class="hero-article__title"><a class="hero-article__title-link" href="#">Тюнинг автомобильного двигателя: как улучшить производительность и экономичность</a></h2>
              <div class="hero-article-meta"><a class="hero-article-meta__link-autor" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
              <p class="hero-article__desr">Как можно улучшить производительность и экономичность автомобильного двигателя путем тюнинга. Мы рассмотрим различные методы, такие как увеличение мощности, снижение расхода топлива, улучшен...</p>
            </div>
          </article>
        </li>
        <li class="article-hero__item">
          <article class="hero-article">
            <picture class="hero-article__picture">
              <source srcset="img/article-hero-img2.webp" type="image/webp">
              <img loading="lazy" src="img/article-hero-img2.jpg" class="hero-article__img" width="770" height="440" alt="Автомобиль Audi RS5 вид спереди, открытый капот, двигатель">
            </picture>
            <div class="hero-article__content">
              <a class="hero-article__category category" href="#">Автомобиль</a>
              <h2 class="hero-article__title"><a class="hero-article__title-link" href="#">Тюнинг автомобильного двигателя: как улучшить производительность и экономичность</a></h2>
              <div class="hero-article-meta"><a class="hero-article-meta__link-autor" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
              <p class="hero-article__desr">Как можно улучшить производительность и экономичность автомобильного двигателя путем тюнинга. Мы рассмотрим различные методы, такие как увеличение мощности, снижение расхода топлива, улучшен...</p>
            </div>
          </article>
        </li>
        <li class="article-hero__item">
          <article class="hero-article">
            <picture class="hero-article__picture">
              <source srcset="img/article-hero-img3.webp" type="image/webp">
              <img loading="lazy" src="img/article-hero-img3.jpg" class="hero-article__img" width="770" height="440" alt="Автомобиль Audi RS5 вид спереди, открытый капот, двигатель">
            </picture>
            <div class="hero-article__content">
              <a class="hero-article__category category" href="#">Автомобиль</a>
              <h2 class="hero-article__title"><a class="hero-article__title-link" href="#">Тюнинг автомобильного двигателя: как улучшить производительность и экономичность</a></h2>
              <div class="hero-article-meta"><a class="hero-article-meta__link-autor" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
              <p class="hero-article__desr">Как можно улучшить производительность и экономичность автомобильного двигателя путем тюнинга. Мы рассмотрим различные методы, такие как увеличение мощности, снижение расхода топлива, улучшен...</p>
            </div>
          </article>
        </li>
        <li class="article-hero__item">
          <article class="hero-article">
            <picture class="hero-article__picture">
              <source srcset="img/article-hero-img4.webp" type="image/webp">
              <img loading="lazy" src="img/article-hero-img4.jpg" class="hero-article__img" width="770" height="440" alt="Автомобиль Audi RS5 вид спереди, открытый капот, двигатель">
            </picture>
            <div class="hero-article__content">
              <a class="hero-article__category category" href="#">Автомобиль</a>
              <h2 class="hero-article__title"><a class="hero-article__title-link" href="#">Тюнинг автомобильного двигателя: как улучшить производительность и экономичность</a></h2>
              <div class="hero-article-meta"><a class="hero-article-meta__link-autor" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
              <p class="hero-article__desr">Как можно улучшить производительность и экономичность автомобильного двигателя путем тюнинга. Мы рассмотрим различные методы, такие как увеличение мощности, снижение расхода топлива, улучшен...</p>
            </div>
          </article>
        </li>
        <li class="article-hero__item">
          <article class="hero-article">
            <picture class="hero-article__picture">
              <source srcset="img/article-hero-img5.webp" type="image/webp">
              <img loading="lazy" src="img/article-hero-img5.jpg" class="hero-article__img" width="770" height="440" alt="Автомобиль Audi RS5 вид спереди, открытый капот, двигатель">
            </picture>
            <div class="hero-article__content">
              <a class="hero-article__category category" href="#">Автомобиль</a>
              <h2 class="hero-article__title"><a class="hero-article__title-link" href="#">Тюнинг автомобильного двигателя: как улучшить производительность и экономичность</a></h2>
              <div class="hero-article-meta"><a class="hero-article-meta__link-autor" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
              <p class="hero-article__desr">Как можно улучшить производительность и экономичность автомобильного двигателя путем тюнинга. Мы рассмотрим различные методы, такие как увеличение мощности, снижение расхода топлива, улучшен...</p>
            </div>
          </article>
        </li>
      </ul>
      <div class="article-hero__right article-right">
        <div class="article-right__blog">
          <picture class="article-right__picture">
            <source srcset="../img/blog-img.webp" type="image/webp">
            <img loading="lazy" src="../img/blog-img.jpg" class="blog__img article-right__img" width="270" height="200" alt="Leon Hunt в автошлеме">
          </picture>
          <h2 class="article-right__blog-author blog-author"><a class="blog-author__link" href="#">Леон Хант</a></h2>
          <div class="article-right__top">
            <span class="article-right__category">Food</span>
            &
            <span class="article-right__position">cooking bloger</span>
          </div>
          <div class="article-right__descr">Привет, меня зовут Леон. Кулинария - это способ выразить миру свою творческую сторону. Добро пожаловать в мой кухонный уголок на...</div>
          <a class="btn article-right__btn" href="#">Читать далее</a>
        </div>
        <div class="article-right__popular popular side-offset">
          <h2 class="popular__title side__title">Популярные посты</h2>
          <ul class="popular__list list-reset">
            <li class="popular__item">
              <article class="popular-article">
                <picture class="popular-article__picture">
                  <source srcset="../img/popular-img1.webp" type="image/webp">
                  <img loading="lazy" src="../img/popular-img1.jpg" class="popular__img" width="270" height="195" alt="Leon Hunt в автошлеме">
                </picture>
                <a class="popular-article__category category" href="#">Автомобиль</a>
                <h2 class="popular-article__title">Почему покупка премиум автомобиля - это...</h2>
                <div class="article-right__top">
                  <a class="article-right__author-link">Дмитрий Козлов</a> — Июнь 6, 2019
                </div>
              </article>
            </li>
            <li class="popular__item">
              <article class="popular-article">
                <picture class="popular-article__picture">
                  <source srcset="../img/popular-img2.webp" type="image/webp">
                  <img loading="lazy" src="../img/popular-img2.jpg" class="popular__img" width="270" height="195" alt="Leon Hunt в автошлеме">
                </picture>
                <a class="popular-article__category category" href="#">Автомобиль</a>
                <h2 class="popular-article__title">Почему покупка премиум автомобиля - это...</h2>
                <div class="article-right__top">
                  <a class="article-right__author-link">Дмитрий Козлов</a> — Июнь 6, 2019
                </div>
              </article>
            </li>
            <li class="popular__item">
              <article class="popular-article">
                <picture class="popular-article__picture">
                  <source srcset="../img/popular-img3.webp" type="image/webp">
                  <img loading="lazy" src="../img/popular-img3.jpg" class="popular__img" width="270" height="195" alt="Leon Hunt в автошлеме">
                </picture>
                <a class="popular-article__category category" href="#">Автомобиль</a>
                <h2 class="popular-article__title">Почему покупка премиум автомобиля - это...</h2>
                <div class="article-right__top">
                  <a class="article-right__author-link">Дмитрий Козлов</a> — Июнь 6, 2019
                </div>
              </article>
            </li>
          </ul>
        </div>
        <div class="instagram-side side-offset">
          <h2 class="instagram-side__title side__title">
            Instagram
          </h2>
          <div class="instagram-side__images">
            <img class="insagram-side__img" src="../img/inst-img1.jpg" alt="instagram">
            <img class="insagram-side__img" src="../img/inst-img2.jpg" alt="instagram">
            <img class="insagram-side__img" src="../img/inst-img3.jpg" alt="instagram">
            <img class="insagram-side__img" src="../img/inst-img4.jpg" alt="instagram">
            <img class="insagram-side__img" src="../img/inst-img5.jpg" alt="instagram">
            <img class="insagram-side__img" src="../img/inst-img6.jpg" alt="instagram">
          </div>
          <a class="instagram-side__btn btn" href="#">
            <svg class="instagram-side__svg" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0H11C13.761 0 16 2.239 16 5V11C16 13.761 13.761 16 11 16H5C2.239 16 0 13.761 0 11V5C0 2.239 2.239 0 5 0ZM11 14.5C12.93 14.5 14.5 12.93 14.5 11V5C14.5 3.07 12.93 1.5 11 1.5H5C3.07 1.5 1.5 3.07 1.5 5V11C1.5 12.93 3.07 14.5 5 14.5H11ZM4 8C4 5.791 5.791 4 8 4C10.209 4 12 5.791 12 8C12 10.209 10.209 12 8 12C5.791 12 4 10.209 4 8ZM5.5 8C5.5 9.378 6.622 10.5 8 10.5C9.378 10.5 10.5 9.378 10.5 8C10.5 6.621 9.378 5.5 8 5.5C6.622 5.5 5.5 6.621 5.5 8ZM13.3333 3.66667C13.3333 4.21895 12.8856 4.66667 12.3333 4.66667C11.781 4.66667 11.3333 4.21895 11.3333 3.66667C11.3333 3.11438 11.781 2.66667 12.3333 2.66667C12.8856 2.66667 13.3333 3.11438 13.3333 3.66667Z" fill="white"/>
              </svg>
            Instagram</a>
        </div>
        <div class="tags side-offset">
          <h2 class="tags__title side__title">Теги</h2>
          <ul class="tags__list list-reset">
            <li class="tags__item"><a class="tags__link" href="#">Бизнес</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Фриланс</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Деньги</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Опыт</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Стиль жизни</a></li>
            <li class="tags__item"><a class="tags__link" href="#">СЕО</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Вордпресс</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Маркетинг</a></li>
            <li class="tags__item"><a class="tags__link" href="#">UX</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Современный</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Успех</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Природа</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Продуктивность</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Страница продаж</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Продается</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Командная работа</a></li>
            <li class="tags__item"><a class="tags__link" href="#">Монетизация</a></li>
          </ul>
        </div>
        <div class="newsletter-side">
          <h2 class="newsletter-side__title side__title">
            Email рассылка
          </h2>
          <p class="newsletter-side__text">
            Подпишитесь, чтобы получать новости по электронной почте и быть в курсе происходящего.
          </p>
          <form class="newsletter-side__form newsletter-form" action="#">
            <label class="newsletter-form__label">
              <input class="newsletter-form__input" type="text" placeholder="Ваше имя">
            </label>
            <label class="newsletter-form__label">
              <input class="newsletter-form__input" type="email" placeholder="Ваш Email">
            </label>
            <button class="newsletter-form__btn btn" type="submit">Подписаться на рассылку</button>
          </form>
        </div>
      </div>
    </div>
    <div class="pagination article-pagination">
      <ul class="pagination__list list-reset">
        <li class="pagination__item">
          <a class="pagination__link" href="#">
            <svg class="pagination__svg" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path  d="M5 1L1 5L5 9" stroke="#171717" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </a>
      </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">1</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">2</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">3</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">...</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">8</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">
            <svg class="pagination__svg" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 9L5 5L1 1" stroke="#171717" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
