<section class="section-article section-offset">
  <div class="container">
    <h1 class="visually-hidden">Premium car</h1>
    <ul class="section-article__list list-reset grid">
      <li class="section-article__item">
        <article class="news-article">
          <div class="news-article__img-box">
            <picture>
            <source srcset="../img/article-img1.webp" type="image/webp">
            <img class="news-article__img" loading="lazy" src="../img/article-img1.jpg" width="370" height="560" alt="Автомобиль Mersedes серого цвета вид спереди">
          </picture>
          </div>
          <a class="news-article__category category" href="#">Автомобиль</a>
          <div class="news-article__descr">
            <div class="news-article__meta news__meta article-meta">
              <div class="article-meta__top news-article__top"><a class="article-meta__link-autor" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
              <h2 class="article-meta__title news-meta__title"><a class="article-meta__link-title" href="#">Почему покупка премиум автомобиля - это инвестиция в будущее</a></h2>
            </div>
          </div>
        </article>
      </li>
      <li class="section-article__item">
        <article class="news-article">
          <div class="news-article__img-box">
            <picture>
              <source srcset="../img/article-img2.webp" type="image/webp">
              <img class="news-article__img" loading="lazy" src="../img/article-img2.jpg" width="370" height="265" alt="Автомобиль Mersedes желтого цвета на улице">
            </picture>
          </div>
          <a class="news-article__category category" href="#">Автомобиль</a>
          <div class="news-article__descr">
            <div class="news-article__meta news__meta article-meta">
              <div class="article-meta__top news-article__top"><a class="article-meta__link-autor" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
              <h2 class="article-meta__title news-meta__title"><a class="article-meta__link-title" href="#">Почему покупка премиум автомобиля - это инвестиция в будущее</a></h2>
            </div>
          </div>
        </article>
      </li>
      <li class="section-article__item">
        <article class="news-article">
          <div class="news-article__img-box">
            <picture>
              <source srcset="../img/article-img3.webp" type="image/webp">
              <img class="news-article__img" loading="lazy" src="../img/article-img3.jpg" width="370" height="265" alt="Автомобиль Ауди Q7 белого цвета вид спереди">
            </picture>
          </div>
          <a class="news-article__category category" href="#">Автомобиль</a>
          <div class="news-article__descr">
            <div class="news-article__meta news__meta article-meta">
              <div class="article-meta__top news-article__top"><a class="article-meta__link-autor" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
              <h2 class="article-meta__title news-meta__title"><a class="article-meta__link-title" href="#">Почему покупка премиум автомобиля - это инвестиция в будущее</a></h2>
            </div>
          </div>
        </article>
      </li>
      <li class="section-article__item">
        <article class="news-article">
          <div class="news-article__img-box">
            <picture>
              <source srcset="../img/article-img4.webp" type="image/webp">
              <img class="news-article__img" loading="lazy" src="../img/article-img4.jpg" width="370" height="265" alt="Автомобиль Ауди А6 крупным планом вид спереди">
            </picture>
          </div>
          <a class="news-article__category category" href="#">Автомобиль</a>
          <div class="news-article__descr">
            <div class="news-article__meta news__meta article-meta">
              <div class="article-meta__top news-article__top"><a class="article-meta__link-autor" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
              <h2 class="article-meta__title news-meta__title"><a class="article-meta__link-title" href="#">Почему покупка премиум автомобиля - это инвестиция в будущее</a></h2>
            </div>
          </div>
        </article>
      </li>
      <li class="section-article__item">
        <article class="news-article">
          <div class="news-article__img-box">
            <picture>
              <source srcset="../img/article-img5.webp" type="image/webp">
              <img class="news-article__img" loading="lazy" src="../img/article-img5.jpg" width="370" height="265" alt="Раритетный автомобиль темно-синего цвета">
            </picture>
          </div>
          <a class="news-article__category category" href="#">Автомобиль</a>
          <div class="news-article__descr">
            <div class="news-article__meta news__meta article-meta">
              <div class="article-meta__top news-article__top"><a class="article-meta__link-autor" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
              <h2 class="article-meta__title news-meta__title"><a class="article-meta__link-title" href="#">Почему покупка премиум автомобиля - это инвестиция в будущее</a></h2>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
