<section class="most-popular section-offset">
  <div class="container most-popular__container">
    <h2 class="most-popular__title">
      Самое популярное
    </h2>
    <ul class="most-popular__list list-reset">
      <li class="most-popular__item">
        <article class="most-popular__article">
          <picture>
            <source srcset="img/most-popular-img1.webp" type="image/webp">
            <img loading="lazy" src="/img/most-popular-img1.jpg" class="most-popular__img" width="270" height="195" alt="Автомобиль BMW черного цвета вид спереди в осеннем лесу">
          </picture>
          <a class="most-popular__article-category category" href="#">BMW</a>
         <h3 class="most-popular__article-title">
           <a class="most-popular__link" href="#">Почему покупка премиум автомобиля — это…</a>
          </h3>
          <div class="most-popular__article-meta meta"><a class="article-meta__author author__link" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
        </article>
      </li>
      <li class="most-popular__item">
        <article class="most-popular__article">
          <picture>
            <source srcset="img/most-popular-img2.webp" type="image/webp">
            <img loading="lazy" src="/img/most-popular-img2.jpg" class="most-popular__img" width="270" height="195" alt="Автомобиль BMW черного цвета вид спереди в осеннем лесу">
          </picture>
          <a class="most-popular__article-category category" href="#">BMW</a>
         <h3 class="most-popular__article-title">
           <a class="most-popular__link" href="#">Почему покупка премиум автомобиля — это…</a>
          </h3>
          <div class="most-popular__article-meta meta"><a class="article-meta__author author__link" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
        </article>
      </li>
      <li class="most-popular__item">
        <article class="most-popular__article">
          <picture>
            <source srcset="img/most-popular-img3.webp" type="image/webp">
            <img loading="lazy" src="/img/most-popular-img3.jpg" class="most-popular__img" width="270" height="195" alt="Автомобиль BMW черного цвета вид спереди в осеннем лесу">
          </picture>
          <a class="most-popular__article-category category" href="#">BMW</a>
         <h3 class="most-popular__article-title">
           <a class="most-popular__link" href="#">Почему покупка премиум автомобиля — это…</a>
          </h3>
          <div class="most-popular__article-meta meta"><a class="article-meta__author author__link" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
        </article>
      </li>
      <li class="most-popular__item">
        <article class="most-popular__article">
          <picture>
            <source srcset="img/most-popular-img4.webp" type="image/webp">
            <img loading="lazy" src="/img/most-popular-img4.jpg" class="most-popular__img" width="270" height="195" alt="Автомобиль BMW черного цвета вид спереди в осеннем лесу">
          </picture>
          <a class="most-popular__article-category category" href="#">BMW</a>
         <h3 class="most-popular__article-title">
           <a class="most-popular__link" href="#">Почему покупка премиум автомобиля — это…</a>
          </h3>
          <div class="most-popular__article-meta meta"><a class="article-meta__author author__link" href="#">Дмитрий Козлов</a> - Июнь 6, 2019</div>
        </article>
      </li>
    </ul>
  </div>
</section>
